body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a3093, #a044ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: linear-gradient(to right, #2c3e50, #3498db);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

h2 {
    color: white;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.options {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 12px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: darkgray;
}

p {
    color: white;
    font-size: 14px;
}
